<app-nuevo-orden
[nueva]="nueva"
[Orden]="Orden"
(onCloseModal)="cerrar();"
(onChangeProv)="reset()">

</app-nuevo-orden>
<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">
            <div class="card mt-5 title_">
                <!-- <span class="red-bar"></span> -->
                <div class="card-content">
                  <h1 class="title blancas">
                    Órdenes de compra
                  </h1>
                  <h2 class="subtitle description blancas">
                    Descripción
                  </h2>
                </div>
            </div>
            <br>
            <div class="columns">
                <div class="column is-1">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-info boton" (click)="nueva = true;">
                                <span class="icon"><i class="fas fa-plus-circle"></i></span>
                                <span>Orden</span>
                            </button>
                        </div>
                    </div>
                </div>
                  
                <div class="column">
                    <div class="Filter"  [ngClass]="{'active':filtrado}">
                        <div class="home">
                            <button class="button button-hidde gray" (click)="buscarporFecha()" [ngClass]="{'selected':fecha}">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>
                            </button>
                        </div>
                        <div class="icon-filter">
                            <button class="button button-hidde gray" (click)="mostrarFiltros()">
                                <span class="icon">
                                    <i class="fas fa-filter"></i>
                                </span>
                            </button>
                        </div>
                        <div class="filters">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button button-hidde gray" (click)="RealizarBusquedaFecha()" [ngClass]="{'selected':DesdeHasta && !cliente}">
                                        <span class="icon">
                                            <i class="fas fa-calendar-day"></i>
                                        </span>
                                    </button>
                                </div>
                                <!-- <div class="control">
                                    <button class="button button-hidde gray">
                                        <span class="icon">
                                            <i class="fas fa-users" (click)="buscarporCliente()" [ngClass]="{'selected':cliente}"></i>
                                        </span>
                                    </button>
                                </div> -->
                                <div class="control">
                                    <button class="button button-hidde gray">
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="control">
                                    <button class="button button-hidde gray" (click)="BusquedaPorNumero()" [ngClass]="{'selected':OC_NUMBER}">
                                        <span class="icon">
                                            <i class="fas fa-hashtag"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <i class="fas fa-grip-lines-vertical grip" (click)="mostrarFiltros()" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>

            <div class="search" [ngClass]="{'active':DesdeHasta}">
                <div class="field is-grouped">
                    <div class="control">
                        <label class="label tags_closer">Desde</label>
                        <input type="date" class="input" #desde>
                    </div>
                    <div class="control">
                        <label class="label tags_closer">Hasta</label>
                        <input type="date" class="input" #hasta>
                    </div>
                    <div class="control" *ngIf="!cliente">
                        <label for="" class="label tags_closer"> </label>
                        <button class="button is-success" (click)="buscarPorFecha(desde.value, hasta.value)">
                            <span class="icon"><i class="fas fa-search"></i></span>
                        </button>
                    </div>
                    <div class="control" *ngIf="cliente">
                        <label for="" class="label tags_closer"> </label>
                        <button class="button is-success" (click)="buscarPorFecha_cliente(desde.value, hasta.value)">
                            <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="search_" [ngClass]="{'active_':OC_NUMBER}">
                <div class="field is-grouped">
                    <div class="control">
                        <label class="label">Numero OC</label>
                        <input type="text" class="input" placeholder="Desde" [(ngModel)]="searchTerm" (input)="search()">
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <span class="title" *ngIf="fecha">Home</span>
                            <span class="title" *ngIf="DesdeHasta && !cliente">Por fecha:</span>
                            <span class="title" *ngIf="cliente">Por clientes:</span>
                            <span class="title" *ngIf="OC_NUMBER">Por Nro de Orden:</span>
                            <br> <br>
                            <ng-container *ngIf="fecha">
                                <ng-container *ngFor="let ordenes of api.orden;index as i">
                                    <div class="card animate__animated animate__fadeInUp">
                                        <div class="card-header dark">
                                            <div class="card-header-title">
                                                {{ordenes.proveedor.nombre}} - <span class="Proveedor"> OCP:{{addSlice(ordenes.numero)}}</span> 
                                                     <i class="fas fa-download blue_" style="cursor: pointer;" (click)="DescargarPDF(ordenes)"></i>
                                            </div>
                                            <i class="fas fa-chevron-up" style="cursor: pointer;" (click)="show_info_(i)" [ngClass]="{'rotate-down': ORDEN[i], 'rotate-up': !ORDEN[i]}"></i>
                                        </div>
                                        <div class="card-content orden_Info" [ngClass]="{'active': ORDEN[i]}">
                                            <table class="table is-fullwidth is-striped tabla" [ngClass]="{'active_': ORDEN[i]}">
                                                <thead>
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Código</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio unitario (USD)</th>
                                                        <th>Base Imp.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let material of ordenes.pedido;index as x">
                                                        <td>{{material.material.nombre}} ({{material.material.fabricante.alias}})
                                                            <ng-container *ngIf="material.material.calibre">
                                                                {{material.material.gramaje}}g {{material.material.calibre}}pt
                                                            </ng-container>
                                                        </td>
                                                        <td>{{material.material.modelo}}</td>
                                                        <td>{{material.cantidad | number:'1.0-2'}}{{material.unidad}}</td>
                                                        <td>{{formatear_cifras(material.precio)}}</td>
                                                        <td>{{ material.precio * material.cantidad | number:'1.0-2'}}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Sub-Total</th>
                                                        <th>{{calcularTotalNeto(ordenes).toFixed(2) | number:'1.0-2'}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>I.V.A ({{ordenes.iva}}%)</th>
                                                        <th>{{calcularTotalIva(ordenes).toFixed(2) | number:'1.0-2'}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Neto</th>
                                                        <th>{{(calcularTotalNeto(ordenes) + calcularTotalIva(ordenes)).toFixed(2) | number:'1.0-2'}}</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <br>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="Busqueda">
                                <div class="custom-card" *ngIf="!filtrados || filtrados.length == 0">
                                    <p class="message">No hay resultados de busqueda</p>
                                  </div>
                                  <ng-container *ngFor="let ordenes of filtrados;index as i">
                                    <div class="card animate__animated animate__fadeInUp">
                                        <div class="card-header dark">
                                            <div class="card-header-title">
                                                {{ordenes.proveedor.nombre}} - <span class="Proveedor"> OCP:{{addSlice(ordenes.numero)}}</span> 
                                                     <i class="fas fa-download blue_" style="cursor: pointer;" (click)="DescargarPDF(ordenes)"></i>
                                            </div>
                                            <i class="fas fa-chevron-up" style="cursor: pointer;" (click)="show_info_(i)" [ngClass]="{'rotate-down': ORDEN[i], 'rotate-up': !ORDEN[i]}"></i>
                                        </div>
                                        <div class="card-content orden_Info" [ngClass]="{'active': ORDEN[i]}">
                                            <table class="table is-fullwidth is-striped tabla" [ngClass]="{'active_': ORDEN[i]}">
                                                <thead>
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Código</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio unitario (USD)</th>
                                                        <th>Base Imp.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let material of ordenes.pedido;index as x">
                                                        <td>{{material.material.nombre}} ({{material.material.fabricante.alias}})</td>
                                                        <td>{{material.material.modelo}}</td>
                                                        <td>{{material.cantidad | number:'1.0-2'}}{{material.unidad}}</td>
                                                        <td>{{formatear_cifras(material.precio) | number:'1.0-2'}}</td>
                                                        <td>{{ formatear_cifras(material.precio * material.cantidad) | number:'1.0-2'}}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Sub-Total</th>
                                                        <th>{{calcularTotalNeto(ordenes).toFixed(2) | number:'1.0-2'}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>I.V.A</th>
                                                        <th>{{calcularTotalIva(ordenes).toFixed(2) | number:'1.0-2'}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Neto</th>
                                                        <th>{{(calcularTotalNeto(ordenes) + calcularTotalIva(ordenes)).toFixed(2) | number:'1.0-2'}}</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <br>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="cliente">
                                <ng-container *ngFor="let clientes of PorClientes;index as i">
                                    <span class="clientesName" style="cursor: pointer;" (click)="show_info(i)">{{clientes[0]}} 
                                        <i class="fas fa-chevron-up" [ngClass]="{'rotate-down': Info_clientes[i], 'rotate-up': !Info_clientes[i]}"></i>
                                    </span>
        
                                    <div class="orden_Info" [ngClass]="{'active': Info_clientes[i]}" style="background-color: transparent;">
                                        <ng-container *ngFor="let orden of clientes[1];index as y" style="background-color: transparent;">
                                            <div class="card animate__animated animate__fadeInUp" [ngClass]="{'active': Info_clientes[y]}">
                                                <div class="card-header dark">
                                                    <p class="card-header-title">
                                                        <strong style="font-family: 'Gilroy';">OC: {{orden.orden}} </strong>
                                                        <span class="fechas">
                                                            <b>Fecha:</b> {{orden.fecha | date:'dd/mm/yyyy'}} - <b>Recepción:</b> {{orden.recepcion | date:'dd/mm/yyyy'}}
                                                        </span>
                                                    </p>
                                                    <i class="fas fa-chevron-up" style="cursor: pointer;" (click)="show_info_(y)" [ngClass]="{'rotate-down': ORDEN[y], 'rotate-up': !ORDEN[y]}"></i>
                                                </div>
                                                <div class="card-content orden_Info" [ngClass]="{'active': ORDEN[y]}">
                                                    <table class="table is-fullwidth is-striped tabla" [ngClass]="{'active_': ORDEN[y]}">
                                                        <thead>
                                                            <tr>
                                                                <th>Producto</th>
                                                                <th>Cantidad</th>
                                                                <th>F. Solic.</th>
                                                                <th>OP</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let producto of orden.pedido">
                                                                <td>{{producto.producto.identificacion.producto}}</td>
                                                                <td>{{formatNumberWithDotSeparator(producto.cantidad)}}</td>
                                                                <td>{{producto.solicitud | date:'dd/mm/yyyy'}}</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <br>
                                        </ng-container>
                                        </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card tags">
                        <div class="card-content ty orange">
                            <div class="columns">
                                <div class="column is-2">
                                    <span class="number_">
                                        <h1>{{api.ordenesMesActual}}</h1>
                                    </span>
                                </div>
                                <div class="column is-2">
                                    <span class="fina">Órdenes</span> <br>
                                    <span class="gruesa">Mes</span>
                                </div>
                                <div class="column">
                                    <span class="Detalle">
                                        {{mesActual}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="position__">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                              <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                              </defs>
                              <g class="moving-waves">
                                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.25)" />
                                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.20)" />
                                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.10)" />
                                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.05)" />
                                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0)" />
                              </g>
                            </svg>
                          </div>
                    </div>
                    <div class="card tags">
                        <div class="card-content ty green__">
                            <div class="columns">
                                <div class="column is-2">
                                    <span class="number_">
                                        <h1>{{api.ordenesAnoActual}}</h1>
                                    </span>
                                </div>
                                <div class="column is-2">
                                    <span class="fina">Órdenes</span> <br>
                                    <span class="gruesa">Año</span>
                                </div>
                                <div class="column">
                                    <span class="Detalle">
                                        {{yearActual}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="position__">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                              <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                              </defs>
                              <g class="moving-waves">
                                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.20)" />
                                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.25)" />
                                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.10)" />
                                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.05)" />
                              </g>
                            </svg>
                          </div>
                    </div>
                    <div class="card tags">
                        <div class="card-content ty blue___">
                            <div class="columns">
                                <div class="column is-1">
                                    <span class="number_">
                                        <h1>0</h1>
                                    </span>
                                </div>
                                <div class="column is-3">
                                    <span class="fina">Órdenes</span> <br>
                                    <span class="gruesa">cerradas</span>
                                </div>
                                <div class="column">
                                    <span class="Detalle">
                                        {{yearActual}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="position__">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                              <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                              </defs>
                              <g class="moving-waves">
                                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.25)" />
                                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.20)" />
                                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.10)" />
                                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.05)" />
                                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0)" />
                              </g>
                            </svg>
                          </div>
                    </div>
                </div>
            </div>
            <!-- THIS IS THE END OF THE NEW DESIGN -->
            <!-- <div class="tags are-large">
                <button class="button is-info boton" (click)="nueva_orden()">
                    <span class="icon"><i class="fas fa-plus-circle"></i></span>
                    <span>Orden</span>
                </button>  
                <span class="tag" [ngClass]="{'is-success':fecha}" (click)="buscarporFecha()"><i class="fas fa-calendar-alt"></i> Fechas</span>
                <span class="tag" [ngClass]="{'is-success':cliente}" (click)="buscarporCliente()"><i class="fas fa-users"></i> Proveedores</span>
                <span class="tag"><i class="fas fa-slash"></i> Cerradas</span>
                <div class="field has-addons busqueda">
                    <div class="control">
                      <input class="input" type="text" placeholder="Buscar OC">
                    </div>
                    <div class="control">
                      <button class="button is-info">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                      </button>
                    </div>
                  </div>
            </div>
            <br>
            <div class="columns">
                <div class="column">

                    <ng-container *ngIf="fecha">
                        <ng-container *ngFor="let orden of ordenes.orden;index as i">
                            <div class="card animate__animated animate__fadeInUp" >
                                <div class="card-header dark">
                                    <p class="card-header-title">
                                        {{orden.proveedor.nombre}} - <span class="Proveedor"> OC:{{addSlice(orden.numero)}}</span> 
                                             <i class="fas fa-download blue_" style="cursor: pointer;" (click)="DescargarPDF(orden)"></i>
                                    </p>
                                    <i class="fas fa-chevron-up" style="cursor: pointer;" (click)="show_info(i)" [ngClass]="{'rotate-down': ORDEN[i], 'rotate-up': !ORDEN[i]}"></i>
                                </div>
                                <div class="card-content orden_Info" [ngClass]="{'active': ORDEN[i]}">
                                    <table class="table is-fullwidth is-striped tabla" [ngClass]="{'active_': ORDEN[i]}">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Código</th>
                                                <th>Cantidad</th>
                                                <th>Precio unitario</th>
                                                <th>Base Imp.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let material of orden.pedido">
                                                <td>{{material.material.nombre}} ({{material.material.fabricante.alias}})</td>
                                                <td>{{material.material.modelo}}</td>
                                                <td>{{material.cantidad}}{{material.unidad}}</td>
                                                <td>{{material.precio}}</td>
                                                <td>{{ material.precio * material.cantidad | number: '1.2-2' }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th>Sub-Total</th>
                                                <th>{{calcularTotalNeto(orden).toFixed(2)}}</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th>I.V.A</th>
                                                <th>{{calcularTotalIva(orden).toFixed(2)}}</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th>Neto</th>
                                                <th>{{(calcularTotalNeto(orden) + calcularTotalIva(orden)).toFixed(2) | number: '1.2-2'}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <br>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="cliente">
                        <ng-container *ngFor="let proveedor of porProveedor;index as i">
                            <span class="clientesName" style="cursor: pointer; font-family: 'Gilroy';" (click)="show_info_(i)">{{proveedor[0]}} 
                                <i class="fas fa-chevron-up" [ngClass]="{'rotate-down': Info_clientes[i], 'rotate-up': !Info_clientes[i]}"></i>
                            </span>
                            <div class="orden_Info" [ngClass]="{'active':Info_clientes[i]}">
                                <div class="card animate__animated animate__fadeInUp carta_espacio" *ngFor="let orden of proveedor[1];index as y">
                                    <div class="card-header dark">
                                        <p class="card-header-title">
                                            <span class="Proveedor"> OC:{{addSlice(orden.numero)}}</span> 
                                                 <i class="fas fa-download blue_" style="cursor: pointer;" (click)="DescargarPDF(orden)"></i>
                                        </p>
                                        <i class="fas fa-chevron-up" style="cursor: pointer;" (click)="show_info(y)" [ngClass]="{'rotate-down': ORDEN[y], 'rotate-up': !ORDEN[y]}"></i>
                                    </div>
                                    <div class="card-content orden_Info" [ngClass]="{'active': ORDEN[y]}">
                                        <table class="table is-fullwidth is-striped tabla" [ngClass]="{'active_': ORDEN[y]}">
                                            <thead>
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Código</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio unitario</th>
                                                    <th>Base Imp.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let material of orden.pedido;index as x">
                                                    <td>{{material.material.nombre}} ({{material.material.fabricante.alias}})</td>
                                                    <td>{{material.material.modelo}}</td>
                                                    <td>{{material.cantidad}}{{material.unidad}}</td>
                                                    <td>{{material.precio}}</td>
                                                    <td>{{ material.precio * material.cantidad | number: '1.2-2' }}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Sub-Total</th>
                                                    <th>{{calcularTotalNeto(orden).toFixed(2)}}</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>I.V.A</th>
                                                    <th>{{calcularTotalIva(orden).toFixed(2)}}</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Neto</th>
                                                    <th>{{(calcularTotalNeto(orden) + calcularTotalIva(orden)).toFixed(2) | number: '1.2-2'}}</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                </div>
                <div class="column is-4">
                    <div class="card tags">
                        <div class="card-content ty orange">
                            <div class="columns">
                                <div class="column is-2">
                                    <span class="number_">
                                        <h1>16</h1>
                                    </span>
                                </div>
                                <div class="column is-2">
                                    <span class="fina">Órdenes</span> <br>
                                    <span class="gruesa">Mes</span>
                                </div>
                                <div class="column">
                                    <span class="Detalle">
                                        {{mesActual}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="position__">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                              <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                              </defs>
                              <g class="moving-waves">
                                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.25)" />
                                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.20)" />
                                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.10)" />
                                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.05)" />
                                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0)" />
                              </g>
                            </svg>
                          </div>
                    </div>
                    <div class="card tags">
                        <div class="card-content ty green__">
                            <div class="columns">
                                <div class="column is-2">
                                    <span class="number_">
                                        <h1>58</h1>
                                    </span>
                                </div>
                                <div class="column is-2">
                                    <span class="fina">Órdenes</span> <br>
                                    <span class="gruesa">Año</span>
                                </div>
                                <div class="column">
                                    <span class="Detalle">
                                        {{yearActual}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="position__">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                              <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                              </defs>
                              <g class="moving-waves">
                                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.20)" />
                                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.25)" />
                                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.10)" />
                                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.05)" />
                              </g>
                            </svg>
                          </div>
                    </div>
                    <div class="card tags">
                        <div class="card-content ty blue___">
                            <div class="columns">
                                <div class="column is-2">
                                    <span class="number_">
                                        <h1>16</h1>
                                    </span>
                                </div>
                                <div class="column is-3">
                                    <span class="fina">Órdenes</span> <br>
                                    <span class="gruesa">cerradas</span>
                                </div>
                                <div class="column">
                                    <span class="Detalle">
                                        Septiembre
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="position__">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                              <defs>
                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                              </defs>
                              <g class="moving-waves">
                                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.25)" />
                                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.20)" />
                                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0)" />
                                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.10)" />
                                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.05)" />
                                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0)" />
                              </g>
                            </svg>
                          </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>