<div class="modal" [ngClass]="{'is-active':detalle}">
    <div class="modal-background"></div>
    <div class="modal-card animate__animated animate__fadeInUp" *ngIf="proveedor">
        <div class="modal-card-head">
            <div class="modal-card-title fuente">
                {{proveedor.nombre}}
            </div>
            <button class="delete red_cross" aria-label="close" (click)="cerrar()"></button>
        </div>
        <div class="modal-card-body light">
            <i class="fas fa-circle red"></i> <strong class="fuente">Dirección:</strong> {{proveedor.direccion}} <br>
            <br>
            <i class="fas fa-circle red"></i> <strong class="fuente">Contactos:</strong>
            <br> 
            <ng-container *ngFor="let contacto of proveedor.contactos">
                     <i class="fas fa-user"></i> {{contacto.nombre}}  <i class="fas fa-phone"></i>{{contacto.numero}}  <i class="fas fa-at"></i>{{contacto.email}}<br>
                     <i class="fas fa-user-tie"></i> {{contacto.cargo}} <br>
            </ng-container>
            <br>
            <i class="fas fa-circle red"></i> <strong class="fuente">Fabricantes:</strong> <br>
            <ng-container *ngFor="let fabricante of proveedor.fabricantes">
                     <i class="fas fa-industry"></i> {{fabricante.alias}}<br>
            </ng-container>
        </div>
    </div>
</div>