.modal .modal-card .bg {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text-heading);
}

table tr td {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text-heading);
}
table tr th {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text-heading);
}
