.modal .modal-card .bg{
    background-color:rgb(38, 52, 61);
    color: white;
}

table tr td{
  background-color: rgb(38, 52, 61);
  color: white;
}
table tr th{
  background-color: rgb(38, 52, 61);
  color: white;
}