<div class="modal" [ngClass]="{'is-active':nueva || editar}">
    <div class="modal-background"></div>
    <div class="modal-card animate__animated animate__fadeInUp">
        <div class="modal-card-head">
            <p class="modal-card-title fuente" *ngIf="nueva">
                Nueva fase
            </p>
            <p class="modal-card-title fuente" *ngIf="editar">
                Editar fase
            </p>
            <button class="delete red_cross" aria-label="close" (click)="cerrar()"></button>
        </div>
        <div class="modal-card-body light">
            <div class="field">
                <label class="label">Nombre de la fase</label>
                <div class="control">
                    <input type="text" class="input" placeholder="Nombre" [(ngModel)]="data.nombre">
                </div>
            </div>
            <div class="field">
                <label for="" class="label">Descripción</label>
                <div class="control">
                    <textarea class="textarea" id="" cols="30" rows="2" placeholder="Descripción" [(ngModel)]="data.descripcion"></textarea>
                </div>
            </div>
            <button class="button is-success" (click)="guardarFase()" *ngIf="nueva">
                <span class="icon"><i class="fas fa-save"></i></span>
                <span>Guardar</span>
            </button>
            <button class="button is-success" (click)="editarFase()" *ngIf="editar">
                <span class="icon"><i class="fas fa-save"></i></span>
                <span>Guardar</span>
            </button>
        </div>
    </div>
</div>