.longer{
    width: 900px;
}

.button-hidde{
    border: none;
    box-shadow: none;
    color: #3e8ed0;
}

.button-hidde_{
  border: none;
  box-shadow: none;
  background-color:rgb(38, 52, 61);
  color: #f03a5f;
}

.modal .modal-card .bg{
    background-color:rgb(38, 52, 61);
    color: white;
}

table tr td{
  background-color: rgb(38, 52, 61);
  color: white;
}
table tr th{
  background-color: rgb(38, 52, 61);
  color: white;
}