.longer {
  width: 900px;
}

.button-hidde_ {
  border: none;
  box-shadow: none;
  background-color: rgb(38, 52, 61);
  color: var(--accent-red);
}

.modal .modal-card .bg {
  background-color: rgb(38, 52, 61);
  color: white;
}

.bg table tr td,
.bg table tr th {
  background-color: rgb(38, 52, 61);
  color: white;
}
