.longer {
  width: 900px;
}

.button-hidde {
  border: none;
  box-shadow: none;
  color: var(--accent-blue);
}

.button-hidde_ {
  border: none;
  box-shadow: none;
  background-color: rgb(38, 52, 61);
  color: var(--accent-red);
}

.modal .modal-card .bg {
  background-color: rgb(38, 52, 61);
  color: white;
}

table tr td {
  background-color: rgb(38, 52, 61);
  color: white;
}
table tr th {
  background-color: rgb(38, 52, 61);
  color: white;
}
