<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">
            <div class="card mt-5 title_">
                <!-- <span class="red-bar"></span> -->
                <div class="card-content">
                    <h1 class="title blancas">
                        Producto terminado
                    </h1>
                    <h2 class="subtitle description blancas">
                        Descripción
                    </h2>
                    <div class="iconos">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                </div>
            </div>
            <br>

            <div class="section">
                <div class="container">
                    <div class="columns is-multiline">

                        <div class="column is-4" *ngFor="let prod of productos">
                            <div class="card has-background-white-ter"
                                style="border-radius: 15px; overflow: hidden; border-left: 8px solid #485fc7;">

                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">{{ prod.nombre }}</p>
                                            <p class="subtitle is-6">{{ prod.presentacion }}</p>
                                        </div>
                                        <div class="media-right">
                                            <span class="tag is-info is-light is-medium">Total: {{ getTotal(prod) |
                                                number }}</span>
                                        </div>
                                    </div>

                                    <div class="content">
                                        <p class="is-size-7 has-text-weight-bold">DETALLE POR OC:</p>

                                        <div class="box p-2 mb-2" *ngFor="let oc of prod.ocs"
                                            [ngClass]="{'has-background-success-light': isEntregado(oc)}">
                                            <div class="columns is-mobile is-vcentered">
                                                <div class="column is-narrow">
                                                    <input type="checkbox" [(ngModel)]="oc.seleccionada">
                                                </div>
                                                <div class="column">
                                                    <span class="has-text-weight-semibold">OC: {{ oc.id }}</span><br>
                                                    <span class="is-size-7">{{ oc.cantidad | number }} unds.</span>
                                                </div>
                                                <div class="column is-narrow">
                                                    <span class="tag"
                                                        [ngClass]="oc.preFacturada ? 'is-link' : 'is-light'">Pre-Fact</span>
                                                    <span class="tag ml-1"
                                                        [ngClass]="oc.facturada ? 'is-primary' : 'is-light'">Fact</span>
                                                    <span *ngIf="isEntregado(oc)" class="icon has-text-success ml-1">
                                                        <i class="fas fa-check-circle"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <footer class="card-footer has-background-white">
                                    <a class="card-footer-item has-text-link has-tooltip-bottom"
                                        data-tooltip="Notifica un nuevo despacho"
                                        (click)="notificarDespacho(prod.nombre)">
                                        <span class="icon mr-2"><i class="fas fa-truck"></i></span>
                                        Despacho
                                    </a>
                                    <a class="card-footer-item has-text-grey">
                                        <span class="icon mr-2"><i class="fas fa-file-invoice"></i></span>
                                        Detalle
                                    </a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>