.tarjetas_menu {
  cursor: pointer;
  text-align: center;
  font-family: 'Gilroy';
  color: white;
  font-size: x-large;
}

.dark {
  color: white;
  background-color: #9fadbc;
}

.especificacion {
  background-color: #d5234d;
}
.analisis {
  background-color: #c01a3f;
}

.clientes_hover:hover {
  background-color: rgb(194, 194, 194);
  cursor: pointer;
}

.is-selected {
  background-color: rgb(194, 194, 194);
}
