
.title_{
    background: rgb(76,175,80);
    background: linear-gradient(45deg, rgba(76,175,80,1) 0%, rgba(82,190,87,1) 10%, rgba(86,200,91,1) 20%, rgba(97,219,102,1) 30%, rgba(105,232,110,1) 40%, rgba(105,232,173,1) 50%, rgba(72,208,145,1) 60%, rgba(49,164,151,1) 70%, rgba(42,157,144,1) 80%, rgba(14,107,97,1) 90%, rgba(4,73,65,1) 100%);
    overflow: hidden;
}
.tarjetas_menu{
    cursor: pointer;
    text-align: center;
    font-family: 'Gilroy';
    color: white;
    font-size: x-large;
}


.dark{
    color: white;
    background-color: #9fadbc;
  }

.especificacion{
    background-color: #d5234d;
}
.analisis{
    background-color: #c01a3f;
}

.iconos{
    position: absolute;
    right: 45px;
    top : -15px;
}

.iconos i {
    font-size: 130px;
    transform: rotate(30deg);
    top: -150px;
    color: rgba(255, 255, 255, 0.50);
}

.clientes_hover:hover{
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

.is-selected{
    background-color: rgb(194, 194, 194);
}