<div class="modal" [ngClass]="{ 'is-active': ver }">
  <div class="modal-background"></div>
  <div class="modal-card animate__animated animate__fadeInUp">
    <div class="modal-card-head">
      <p class="modal-card-title fuente">{{ orden.numero_op }} - Producto defectuoso</p>
      <button class="delete red_cross" aria-label="close" (click)="cerrar()"></button>
    </div>
    <div class="modal-card-body light" *ngIf="ver">
      <ng-container *ngFor="let ticket of tickets">
        <div class="card">
          <div class="card-content">
            <span class="subtitles">
              {{ ticket.op.fases[ticket.fase].nombre }} ({{ ticket.op.fases[ticket.fase].maquina.nombre }}
              {{ ticket.op.fases[ticket.fase].maquina.marca }}) - {{ ticket.tipo }}
            </span>
            <span class="title" style="font-size: large">
              {{ buscarDefecto(ticket.tipo, ticket.defectos) }} <br />
            </span>

            <span style="color: var(--text-primary)">
              <span class="bullet"></span> <span style="font-weight: bold"> Causa:</span> {{ ticket.causa }} <br />
              <span class="bullet"></span> <span style="font-weight: bold"> Supervisor:</span> {{ ticket.supervisor }}
              <br />
              <span class="bullet"></span> <span style="font-weight: bold"> Analista:</span> {{ ticket.analista }}
              <br />
              <span class="bullet"></span> <span style="font-weight: bold"> Observación:</span>
              {{ ticket.observacion }} <br />
            </span>
            <article class="message is-danger" *ngIf="!ticket.cerrado">
              <div class="message-body">
                <div class="field is-grouped">
                  <div class="control">
                    <label for="" class="label">Fecha</label>
                    <input type="date" class="input is-small" [(ngModel)]="ticket.fecha_destruccion" />
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <label for="" class="label">Cantidad a destruir</label>
                    <input type="number" name="" id="" class="input is-small" [(ngModel)]="ticket.cantidad" />
                  </div>
                  <div class="control">
                    <label for="" class="label">Persona que lo destruyó</label>
                    <input type="text" class="input is-small" [(ngModel)]="searchText" *ngIf="!ticket.destructor" />
                    <div class="empleados_" *ngIf="filteredEmployees().length">
                      <div *ngFor="let trabajador of filteredEmployees()">
                        <div class="columns">
                           <div class="column is-6" style="font-size: small; color: var(--text-primary)">
                            <br />
                            {{ trabajador.datos_personales.nombres }} {{ trabajador.datos_personales.apellidos }}<br />
                            <span style="font-family: 'Gilroy'">
                              {{ trabajador.contratacion.cargo.nombre }}
                            </span>
                          </div>
                          <div class="column is-1">
                            <br />
                            <button
                              class="button"
                              style="background-color: transparent; border: none; color: var(--accent-blue)"
                              (click)="
                                searchText = '';
                                ticket.destructor =
                                  trabajador.datos_personales.nombres + ' ' + trabajador.datos_personales.apellidos
                              "
                            >
                              <span class="icon">
                                <i class="fas fa-plus-circle"></i>
                              </span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <span style="color: var(--text-primary)">
                      {{ ticket.destructor }}
                      <i
                        class="fa-solid fa-trash-can"
                        style="color: var(--accent-red); cursor: pointer"
                        (click)="ticket.destructor = ''"
                        *ngIf="ticket.destructor"
                      ></i>
                    </span>
                  </div>
                </div>
                <button
                  class="button is-success"
                  [disabled]="!ticket.destructor || !ticket.cantidad || !ticket.fecha_destruccion"
                  (click)="GuardarYCerrar(ticket)"
                >
                  <span class="icon"><i class="fa-solid fa-floppy-disk"></i></span>
                  <span>Guardar</span>
                </button>
              </div>
            </article>
              <article *ngIf="ticket.cerrado" style="color: var(--text-primary)">
              <span class="bullet"></span> <span style="font-weight: bold"> Fecha:</span>
              {{ ticket.fecha_destruccion | date: 'dd/MM/YYYY' }} <br />
              <span class="bullet"></span> <span style="font-weight: bold"> Cantidad destruida:</span>
              {{ ticket.cantidad | number: '2.0-0' }} <br />
              <span class="bullet"></span> <span style="font-weight: bold"> Persona que lo destruyó:</span>
              {{ ticket.destructor }} <br />
            </article>
              <article style="color: var(--text-primary)">
              <span class="bullet"></span> <span style="font-weight: bold"> Nº paleta:</span> {{ ticket.paleta }}
            </article>
          </div>
        </div>
        <br />
      </ng-container>
    </div>
  </div>
</div>
