.long{
    width: 85%;
}

.dark{
    color: white;
    background-color: #9fadbc;
  }

  .margin-right{
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .forEach{
    position: relative;
    width: 100px;
    float: right;
    margin-top: -5px;
  }