.menu__{
    display: block;
    position: fixed;
    height: 100%;
    width: 15%;
    // background-color: rgb(55, 75, 90);
    background-color: rgb(38, 52, 61);
    backdrop-filter: blur(10px);
    z-index: 1;
//     box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
// -webkit-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
// -moz-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
    padding: 30px;
    color:#9fadbc;
    top:0px
}

.close{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: gray;
}

.menu_{
    cursor: pointer;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.down{
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.red{
    background-color: red;
}

#logo_menu{
    margin-left: 20%;
}

.infoUsuario{
    position: absolute;
    bottom: 10px;
}

.popup-menu{
    display: block;
    background-color: white;
    padding: 5px;
    color: black;
    margin: 0px;
    width: 100%;
    border-radius: 5px;
}
.popup-menu a{
    color: black;
    margin-bottom: 10px;
}

.popup-menu a:hover{
    color: black;
    margin-bottom: 10px;
    background-color: beige;
}

.formated{
    display: block;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.usuario{
    position: absolute;
    display: block;
    width: 80%;
    bottom: 10px;
    margin-bottom: 0px;
    background-color: rgba(255,255,255, .2);
    border-radius: 5px;
    overflow: hidden;
    padding: 0px;
    max-height: 40px;
    // text-align: center;
}

.iconos{
    position: absolute;
    display: block;
    width: 80%;
    bottom: 60px;
    margin-bottom: 0px;
    // background-color: rgba(255,255,255, .2);
    // border-radius: 5px;
    // overflow: hidden;
    padding: 0px;
    // max-height: 40px;
    // text-align: center;
}

.usuario span {
    position: relative;
    top: -30%; /* Move down 50% of the height */
    // transform: translateY(-50%); /* Move back up 50% of its own height */
}

.fa-cog:hover{
    color: rgb(112, 112, 112);
}

.users_information{
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    // background-color: red;
    max-height: 20px;
}

.popup_menu{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 60px;
    left: 5px;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 7px -6px 5px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px -6px 5px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 7px -6px 5px -4px rgba(0,0,0,0.75);
}
.popup_menu a{
    position: relative;
    display: block;
    background-color: white;
    color: black;
    width: 100%;
}

.popup_menu a:hover{
    position: relative;
    display: block;
    background-color: white;
    color: rgb(70, 70, 70);
    width: 100%;
}

.triangulo-abajo {
    position: relative;
    margin-bottom:-15px;
    right: -88%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff; /* Cambia el color y el tamaño según tus necesidades */
}
  

.asignacion-container {
    display: flex;
    align-items: center; /* Centra el texto y el círculo verticalmente */
    gap: 5px; /* Espacio entre el texto y el círculo */
    text-decoration: none; /* Opcional: quita el subrayado si es un enlace */
  }
  
  .blinking-light {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    animation: blink 0.5s infinite alternate;
  }

  /* Animación de parpadeo */
  @keyframes blink {
    0% {
      opacity: 1; /* Estado visible */
    }
    100% {
      opacity: 0.2; /* Estado más tenue */
    }
  }