<app-solicitud-material [Solicitud_Material]="Solicitud_Material" (onCloseModal)="Solicitud_Material = false">
</app-solicitud-material>

<app-cambio-contrasena [reset]="pass" (OnCloseModal)="cerrar()">
</app-cambio-contrasena>

<app-asignacion [asignacion]="asignacion" (onCloseModal)="asignacion = false">

</app-asignacion>

<app-etiquetas [Etiquetas]="Etiquetas" (onCloseModal)="Etiquetas = false">

</app-etiquetas>

<app-notifications [visible]="panel" (onCloseModal)="panel = false">
</app-notifications>

<div class="menu__ animate__animated animate__fadeInLeft" id='menu'>
    <img src="../../../assets/LOGO-SIO.png" width="100" height="20" id="logo_menu">
    <hr>
    <aside class="menu">
        <ul class="menu-list">
            <li>
                <a (click)="showCompras()" [ngClass]="{'is-active':router.url == '/compras'}">Compras</a>
                <ul
                    *ngIf="compras || router.url == '/compras/grupos' || router.url == '/compras/fabricantes' || router.url == '/compras/proveedores' || router.url == '/compras/ordenes'">
                    <li><a [ngClass]="{'is-active':router.url == '/compras/grupos'}"
                            routerLink="/compras/grupos">Grupos</a></li>
                    <li><a [ngClass]="{'is-active':router.url == '/compras/fabricantes'}"
                            routerLink="/compras/fabricantes">Fabricantes</a></li>
                    <li><a [ngClass]="{'is-active':router.url == '/compras/proveedores'}"
                            routerLink="/compras/proveedores">Proveedores</a></li>
                    <li><a [ngClass]="{'is-active':router.url == '/compras/ordenes'}"
                            routerLink="/compras/ordenes">Ordenes</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a (click)="showVentas()" [ngClass]="{'is-active':router.url == '/ventas'}">Ventas</a>
                <ul *ngIf="ventas || router.url == '/ventas/compra' || router.url == '/ventas/clientes'">
                    <li><a [ngClass]="{'is-active':router.url == '/ventas/compra'}" routerLink="/ventas/compra">Órdenes
                            de compra</a></li>
                    <li><a [ngClass]="{'is-active':router.url == '/ventas/clientes'}"
                            routerLink="/ventas/clientes">Clientes</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a (click)="showInventario()">Inventario</a>
                <ul
                    *ngIf="inventario || router.url == '/almacen/inventario' || router.url == '/almacen/recepcion' || router.url == '/almacen/bobinas'">
                    <li> <a [ngClass]="{'is-active':router.url == '/almacen/inventario'}"
                            routerLink="/almacen/inventario">Inventario</a> </li>
                    <li> <a [ngClass]="{'is-active':router.url == '/almacen/recepcion'}"
                            routerLink="/almacen/recepcion">Recepción</a> </li>
                    <li> <a [ngClass]="{'is-active':router.url == '/almacen/bobinas'}"
                            routerLink="/almacen/bobinas">Bobinas</a> </li>
                    <li> <a [ngClass]="{'is-active':router.url == '/almacen/producto-terminado'}"
                            routerLink="/almacen/producto-terminado">Producto terminado</a> </li>
                </ul>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a (click)="ShowLaboratorio()" [ngClass]="{'is-active':router.url == '/laboratorio'}">Laboratorio</a>
                <ul
                    *ngIf="laboratorio || router.url == '/laboratorio/especificacion' || router.url == '/laboratorio/analisis' || router.url == '/laboratorio/defectos'">
                    <li> <a [ngClass]="{'is-active':router.url == '/laboratorio/especificacion'}"
                            routerLink="/laboratorio/especificacion">Especificación</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/laboratorio/analisis'}"
                            routerLink="/laboratorio/analisis">Análisis</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/laboratorio/defectos'}"
                            routerLink="/laboratorio/defectos">Defectos</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a (click)="showProduccion()" [ngClass]="{'is-active':router.url == '/maquinas'}">Producción</a>
                <ul
                    *ngIf="produccion || router.url == '/maquinas/fases' || router.url == '/ventas/produccion' || router.url == '/maquinas/maquinas' || router.url == '/maquinas/productos' || router.url == '/maquinas/categoria' || router.url == '/maquinas/tintas'">
                    <li><a [ngClass]="{'is-active':router.url == '/ventas/produccion'}"
                            routerLink="/ventas/produccion">Órdenes</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/maquinas/fases'}"
                            routerLink="/maquinas/fases">Fases</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/maquinas/maquinas'}"
                            routerLink="/maquinas/maquinas">Máquinas</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/maquinas/categoria'}"
                            routerLink="/maquinas/categoria">Categoría</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/maquinas/productos'}"
                            routerLink="/maquinas/productos">Productos</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/maquinas/tintas'}"
                            routerLink="/maquinas/tintas">Tintas</a></li>
                </ul>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a (click)="showEmpresa()" [ngClass]="{'is-active':router.url == '/empresa'}">Empresa</a>
                <ul
                    *ngIf="empresa || router.url == '/empresa/departamentos' || router.url == '/empresa/cargos' || router.url == '/empresa/empleados' || router.url == '/empresa/horarios'">
                    <li> <a [ngClass]="{'is-active':router.url == '/empresa/departamentos'}"
                            routerLink="/empresa/departamentos">Departamentos</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/empresa/cargos'}"
                            routerLink="/empresa/cargos">Cargos</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/empresa/empleados'}"
                            routerLink="/empresa/empleados">Empleados</a></li>
                    <li> <a [ngClass]="{'is-active':router.url == '/empresa/horarios'}"
                            routerLink="/empresa/horarios">Horarios</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <span class="iconos">
        <button class="button" style="background-color: transparent;border: none;color: #9fadbc;"
            (click)="panel = !panel">
            <span class="icon">
                <i class="fas fa-bell"></i>
                <ng-container *ngIf="notification.notificaciones.length > 0">
                    <span class="notification-count"
                        style="position: absolute; top: -5px; right: -5px; background-color: red; color: white; border-radius: 50%; padding: 3px 6px; font-size: 8px; font-weight: bold;">
                        {{notification.notificaciones.length}}
                    </span>
                </ng-container>
            </span>
        </button>
        <button class="button" style="background-color: transparent;border: none;color: #9fadbc;"
            (click)="notification.nuevaNotificacion()">
            <span class="icon">
                <i class="fas fa-undo-alt"></i>
            </span>
        </button>
        <button class="button" style="background-color: transparent;border: none;color: #9fadbc;"
            (click)="Solicitud_Material = true">
            <span class="icon">
                <i class="fas fa-shopping-cart"></i>
            </span>
        </button>
        <button class="button" style="background-color: transparent;border: none;color: #9fadbc;"
            (click)="abrirAsignacion()">
            <span class="icon">
                <i class="fas fa-paper-plane"></i>
                <ng-container *ngIf="showAsignaciones() > 0">
                    <span class="notification-count"
                        style="position: absolute; top: -5px; right: -5px; background-color: red; color: white; border-radius: 50%; padding: 3px 6px; font-size: 8px; font-weight: bold;">
                        {{ showAsignaciones()}}
                    </span>
                </ng-container>
            </span>
        </button>
        <button class="button" style="background-color: transparent;border: none;color: #9fadbc;"
            (click)="Etiquetas = true">
            <span class="icon">
                <i class="fas fa-tags"></i>
            </span>
        </button>
        <!-- <div class="columns">
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
        </div> -->
    </span>
    <span class="popup_menu" *ngIf="isMenuVisible">
        <a href="#" (click)="cerrarSesion()">Cerrar Sesión</a><br>
        <a (click)="cambiarContrasena()">Cambiar Contraseña</a>
        <div class="triangulo-abajo"></div>
    </span>
    <span class="usuario">
        <span style="font-size: smaller;">
            <div class="columns">
                <div class="column is-2">
                    <i class="fas fa-user-circle" style="font-size: large;display: box;padding: 10px;"></i>
                </div>
                <div class="column">
                    <span class="users_information">
                        <div style="margin: 0; padding: 0; margin-bottom: -7px;font-size: smaller;" class="user_name">
                            {{ usuario.Nombre }}
                        </div>
                        <div style="margin: 0; padding: 0;font-size: smaller;" class="user_name">
                            {{ usuario.Apellido }}
                        </div>
                    </span>
                </div>
                <div class="column is-2">
                    <i class="fas fa-cog"
                        style="display: box; border-left: solid 1px gray;padding: 10px;cursor:pointer;float: right;font-size: large;"
                        (click)="showPopUp()"></i>
                </div>
            </div>
        </span>
    </span>

</div>