.tarjetas_menu {
  cursor: pointer;
  text-align: center;
  font-family: 'Gilroy';
  color: white;
  font-size: x-large;
}

.dark {
  color: white;
  background-color: #9fadbc;
}

.orange {
  color: orangered;
}

.red {
  color: red;
}
