<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">

            <div class="card mt-5 title_">
                <!-- <span class="red-bar"></span> -->
                <div class="card-content">
                  <h1 class="title blancas">
                    Compras
                  </h1>
                  <h2 class="subtitle description blancas">
                    Descripción
                  </h2>
                </div>
                <div class="iconos">
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
            <br>

            <div class="columns">
                <div class="column">
                    <div class="card grupos tarjetas_menu animate__animated animate__fadeInUp" routerLink="grupos">
                        <div class="card-content">
                            Grupos
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card fabricantes tarjetas_menu animate__animated animate__fadeInUp" routerLink="fabricantes">
                        <div class="card-content">
                            Fabricantes
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card proveedores tarjetas_menu animate__animated animate__fadeInUp" routerLink="proveedores">
                        <div class="card-content">
                            Proveedores
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>