.tarjetas_menu {
  cursor: pointer;
  text-align: center;
  font-family: 'Gilroy';
  color: white;
  font-size: x-large;
}

.grupos {
  background-color: #551bb3;
}
.fabprov {
  background-color: #e67e22;
}
