<app-page-layout>
  <app-section-header
    title="Compras"
    description="Panel general de compras"
    icon="fa-shopping-cart"
    color="green"
  ></app-section-header>
  <br />

  <div class="columns">
    <div class="column">
      <div class="card grupos tarjetas_menu animate__animated animate__fadeInUp" routerLink="grupos">
        <div class="card-content">Grupos</div>
      </div>
    </div>
    <div class="column">
      <div class="card fabricantes tarjetas_menu animate__animated animate__fadeInUp" routerLink="fabricantes">
        <div class="card-content">Fabricantes</div>
      </div>
    </div>
    <div class="column">
      <div class="card proveedores tarjetas_menu animate__animated animate__fadeInUp" routerLink="proveedores">
        <div class="card-content">Proveedores</div>
      </div>
    </div>
  </div>
</app-page-layout>
