<div class="modal" [ngClass]="{ 'is-active': add_defecto }">
  <div class="modal-background" (click)="add_defecto = false; gestion = true"></div>
  <div class="modal-card">
    <div class="modal-card-body" *ngIf="add_defecto">
      <div class="columns">
        <div class="column">
          <figure class="image" style="width: 120px">
            <img src="../../../assets/poli_cintillo.png" alt="" />
          </figure>
        </div>
        <div class="column">
          <table class="table is-bordered is-fullwidth">
            <tr>
              <th style="text-align: center">
                Orden de produccion: <br />
                <span style="font-family: 'Gilroy'; font-size: x-large">{{ orden.numero_op }}</span>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <article class="message is-warning">
        <div
          class="message-header"
          style="font-size: xx-large; color: white; font-family: 'Gilroy'; text-align: center"
        >
          <p>IDENTIFICACIÓN DE PRODUCTO DEFECTUOSO</p>
        </div>
      </article>
      <div class="columns">
        <div class="column">
          <table class="table is-bordered is-fullwidth">
            <tr>
              <td>
                Producto: <br />
                <br />
                <span style="font-family: 'Gilroy'">{{ orden.producto[0].identificacion.producto }}</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="column">
          <table class="table is-bordered is-fullwidth">
            <tr>
              <td>
                Código del produco: <br />
                <br />
                <span style="font-family: 'Gilroy'"
                  >{{ orden.producto[0].identificacion.cliente.codigo }}-{{
                    orden.producto[0].identificacion.codigo
                  }}-{{ orden.producto[0].identificacion.version }}</span
                >
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="title">Selecciona Defecto</div>
      <div class="field is-grouped">
        <div class="control">
          <label for="" class="label">Tipo:</label>
          <div class="select">
            <select [(ngModel)]="tipo_defecto" (change)="buscarDefectos()">
              <option value="Menor">Menores</option>
              <option value="Mayor">Mayores</option>
              <option value="Critico">Criticos</option>
            </select>
          </div>
        </div>
        <div class="control">
          <label for="" class="label">Defecto</label>
          <div class="select">
            <select (change)="agregarDefecto($event.target)">
              <ng-container *ngIf="tipo_defecto === 'Menor'">
                <option value="{{ defecto }}" *ngFor="let defecto of defectos_.menores.defectos">{{ defecto }}</option>
              </ng-container>
              <ng-container *ngIf="tipo_defecto === 'Mayor'">
                <option value="{{ defecto }}" *ngFor="let defecto of defectos_.mayores.defectos">{{ defecto }}</option>
              </ng-container>
              <ng-container *ngIf="tipo_defecto === 'Critico'">
                <option value="{{ defecto }}" *ngFor="let defecto of defectos_.mayores.criticos">{{ defecto }}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <!-- <div class="select">
                <select (change)="agregarDefecto($event.target)">
                    <option>Selecciona un defecto</option>
                    <!- <option value="{{defecto}}" *ngFor="let defecto of defectos_">{{defecto}}</option> --
                </select>
            </div> -->

      <hr />

      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Defecto</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let defectos of defectos_agregados; index as i">
            <td>{{ defectos }}</td>
            <td>
              <i
                class="fas fa-trash-alt"
                style="color: var(--status-danger); cursor: pointer"
                (click)="defectos_agregados.splice(i, 1)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>

      <hr />

      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control">
              <label for="" class="label">Causa</label>
              <textarea class="textarea" placeholder="Descripción" rows="2" [(ngModel)]="causa"></textarea>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column">
            <div class="field">
              <div class="control">
                <label for="" class="label">¿Quien lo identificó?</label>
                <input type="text" class="input" [(ngModel)]="searchText_" *ngIf="!identificacion" />
                <div class="empleados_" *ngIf="filteredEmployees_().length">
                  <div *ngFor="let trabajador of filteredEmployees_()">
                    <div class="columns">
                      <div class="column is-6" style="font-size: small">
                        <br />
                        {{ trabajador.datos_personales.nombres }} {{ trabajador.datos_personales.apellidos }}<br />
                        <span style="font-family: 'Gilroy'">
                          {{ trabajador.contratacion.cargo.nombre }}
                        </span>
                      </div>
                      <div class="column is-1">
                        <br />
                        <button
                          class="button"
                          style="background-color: transparent; border: none; color: var(--accent-blue)"
                          (click)="
                            searchText_ = '';
                            identificacion =
                              trabajador.datos_personales.nombres + ' ' + trabajador.datos_personales.apellidos
                          "
                        >
                          <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{ identificacion }}
            <button
              class="button is-small"
              style="background-color: transparent; border: none; color: var(--accent-blue)"
              *ngIf="identificacion"
              (click)="identificacion = ''"
            >
              <span class="icon"><i class="fas fa-redo"></i></span>
            </button>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control">
              <label for="" class="label">Acción correctiva</label>
              <textarea class="textarea" placeholder="Descripción" rows="2" [(ngModel)]="accion_a_tomar"></textarea>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control">
              <label for="" class="label">Responsable</label>
              <input type="text" class="input" [(ngModel)]="searchText__" *ngIf="!responsable" />
              <div class="empleados_" *ngIf="filteredEmployees__().length">
                <div *ngFor="let trabajador of filteredEmployees__()">
                  <div class="columns">
                    <div class="column is-6" style="font-size: small">
                      <br />
                      {{ trabajador.datos_personales.nombres }} {{ trabajador.datos_personales.apellidos }}<br />
                      <span style="font-family: 'Gilroy'">
                        {{ trabajador.contratacion.cargo.nombre }}
                      </span>
                    </div>
                    <div class="column is-1">
                      <br />
                      <button
                        class="button"
                        style="background-color: transparent; border: none; color: var(--accent-blue)"
                        (click)="
                          searchText__ = '';
                          responsable =
                            trabajador.datos_personales.nombres + ' ' + trabajador.datos_personales.apellidos
                        "
                      >
                        <span class="icon">
                          <i class="fas fa-plus-circle"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <b>
            {{ responsable }}
            <button
              class="button is-small"
              style="background-color: transparent; border: none; color: var(--accent-blue)"
              *ngIf="responsable"
              (click)="responsable = ''"
            >
              <span class="icon"><i class="fas fa-redo"></i></span>
            </button>
          </b>
        </div>
      </div>

      <label for="" class="label">Área donde se debe ejecutar la acción</label>
      <div class="field is-grouped">
        <div class="control">
          <input type="radio" name="accion_correctiva" value="limpieza" [(ngModel)]="accion" />
          <label for="limpieza">Limpieza</label>
        </div>
        <div class="control">
          <input type="radio" name="accion_correctiva" value="revision" [(ngModel)]="accion" />
          <label for="revision">Revisión</label>
        </div>
        <div class="control">
          <input type="radio" name="accion_correctiva" value="pegado" [(ngModel)]="accion" />
          <label for="pegado">Pegado</label>
        </div>
        <div class="control">
          <input type="radio" name="accion_correctiva" value="otro" [(ngModel)]="accion" />
          <label for="otro">Otro</label>
        </div>
      </div>

      <textarea
        class="textarea"
        placeholder="¿En qué otra área se debe ejecutar la acción correctiva?"
        rows="2"
        *ngIf="accion === 'otro'"
        [(ngModel)]="comentario"
      ></textarea>

      <hr />

      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control">
              <label for="" class="label">Supervisor</label>
              <input type="text" class="input" [(ngModel)]="searchText___" *ngIf="!supervisor" />
              <div class="empleados_" *ngIf="filteredEmployees___().length">
                <div *ngFor="let trabajador of filteredEmployees___()">
                  <div class="columns">
                    <div class="column is-6" style="font-size: small">
                      <br />
                      {{ trabajador.datos_personales.nombres }} {{ trabajador.datos_personales.apellidos }}<br />
                      <span style="font-family: 'Gilroy'">
                        {{ trabajador.contratacion.cargo.nombre }}
                      </span>
                    </div>
                    <div class="column is-1">
                      <br />
                      <button
                        class="button"
                        style="background-color: transparent; border: none; color: var(--accent-blue)"
                        (click)="
                          searchText___ = '';
                          supervisor = trabajador.datos_personales.nombres + ' ' + trabajador.datos_personales.apellidos
                        "
                      >
                        <span class="icon">
                          <i class="fas fa-plus-circle"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ supervisor }}
          <button
            class="button is-small"
            style="background-color: transparent; border: none; color: var(--accent-blue)"
            *ngIf="supervisor"
            (click)="supervisor = ''"
          >
            <span class="icon"><i class="fas fa-redo"></i></span>
          </button>
        </div>
        <div class="column">
          <div class="field">
            <div class="control">
              <label for="" class="label">Analista</label>
              <input type="text" class="input" [(ngModel)]="searchText____" *ngIf="!analista" />
              <div class="empleados_" *ngIf="filteredEmployees____().length">
                <div *ngFor="let trabajador of filteredEmployees____()">
                  <div class="columns">
                    <div class="column is-6" style="font-size: small">
                      <br />
                      {{ trabajador.datos_personales.nombres }} {{ trabajador.datos_personales.apellidos }}<br />
                      <span style="font-family: 'Gilroy'">
                        {{ trabajador.contratacion.cargo.nombre }}
                      </span>
                    </div>
                    <div class="column is-1">
                      <br />
                      <button
                        class="button"
                        style="background-color: transparent; border: none; color: var(--accent-blue)"
                        (click)="
                          searchText____ = '';
                          analista = trabajador.datos_personales.nombres + ' ' + trabajador.datos_personales.apellidos
                        "
                      >
                        <span class="icon">
                          <i class="fas fa-plus-circle"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ analista }}
          <button
            class="button is-small"
            style="background-color: transparent; border: none; color: var(--accent-blue)"
            *ngIf="analista"
            (click)="analista = ''"
          >
            <span class="icon"><i class="fas fa-redo"></i></span>
          </button>
        </div>
      </div>

      <hr />

      <button class="button is-success" (click)="GuardarDefectos()" *ngIf="defectos_agregados.length > 0">
        <span class="icon"></span>
        <span>Guardar</span>
      </button>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active': gestion }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-head">
      <p class="modal-card-title fuente">Nueva Gestión</p>
      <button class="delete red_cross" aria-label="close" (click)="onCloseModal.emit()"></button>
      <label for="" class="label">.</label>
    </div>
    <div class="modal-card-body longer" *ngIf="gestion">
      <div class="field is-grouped">
        <div class="control">
          <label for="" class="label">Fecha de gestión</label>
          <input type="date" name="" id="" class="input" [(ngModel)]="data.fecha" />
        </div>
        <div class="control">
          <label for="" class="label">Inicio</label>
          <input type="time" name="" id="" class="input" [(ngModel)]="data.inicio" />
        </div>
        <div class="control">
          <label for="" class="label">Final</label>
          <input type="time" name="" id="" class="input" [(ngModel)]="data.fin" />
        </div>
      </div>
      <hr />
      <span class="title" style="font-size: medium">Cantidad producida</span>
      <span class="subtitle"></span>
      <div class="field is-grouped">
        <div class="control">
          <label for="" class="label">Unidad</label>
          <div class="select">
            <select [(ngModel)]="tipo" (change)="seleccionarTipo($event.target)">
              <option value="Productos">Productos</option>
              <option value="Hojas">Hojas</option>
            </select>
          </div>
        </div>
        <div class="control">
          <label for="" class="label" *ngIf="!hojas || !productos">Cantidad</label>
          <input
            type="number"
            name=""
            id=""
            class="input"
            *ngIf="!hojas"
            placeholder="Cantidad de hojas"
            [(ngModel)]="data.hojas"
            (input)="CalcularProductos($event.target)"
          />
          <input
            type="number"
            name=""
            id=""
            class="input"
            *ngIf="!productos"
            placeholder="Cantidad de productos"
            [(ngModel)]="data.productos"
            (input)="CalcularHojas($event.target)"
          />
        </div>
        <div class="control">
          <label for="" class="label">Nro. de paletas</label>
          <input type="number" name="" id="" class="input" style="width: 60px" [(ngModel)]="data.paletas" />
        </div>
      </div>
      <div class="paletas_diseno">
        <span class="title" style="font-size: medium">Distribución</span>
        <div class="paletas_container">
          <div
            class="palets"
            *ngFor="let paletas of [].constructor(data.paletas); index as i"
            [ngClass]="{ yellow: FindDefecto(i + 1).amarillo === true }"
            (click)="SeleccionarPaleta(i + 1)"
          >
            {{ i + 1 }}
          </div>
        </div>
        <div class="paletas_container">
          <div
            *ngFor="let paletas of [].constructor(data.paletas); index as i"
            [ngClass]="{ selected: p_selected === i + 1, Nonselected: p_selected !== i + 1 }"
            class="triangle"
          ></div>
        </div>
        <div class="burbuja">
          <button
            class="button is-info"
            style="color: var(--accent-blue); background-color: transparent; border: none"
            *ngIf="p_selected"
            (click)="addNew()"
          >
            <span><i class="fas fa-plus-circle"></i></span></button
          > 
          <button class="button is-small is-success" *ngIf="FindDefecto(p_selected).amarillo === true">
            <span class="icon"><i class="fas fa-edit"></i></span>
          </button>
          <br />
          <br />
          <ul *ngIf="FindDefecto(p_selected).amarillo === true">
            <li *ngFor="let defecto of FindDefecto(p_selected).defectos">• {{ defecto }}</li>
          </ul>
        </div>
      </div>
      <hr />
      <span class="title" style="font-size: medium">Equipo de trabajo</span> <br />
      <br />
      <div class="field">
        <div class="control">
          <label for="" class="label">Buscar empleado</label>
          <input type="text" class="input" [(ngModel)]="searchText" placeholder="Buscar empleado" />
        </div>
      </div>
      <span class="empleados" *ngFor="let trabajador of filteredEmployees()">
        <div class="columns">
          <div class="column is-2">
            <figure class="image is-75x75 profile_pic">
              <img
                class="is-rounded"
                width="30px"
                src="https://192.168.0.22/api/imagen/empleado/{{ trabajador.datos_personales.foto }}"
              />
            </figure>
          </div>
          <div class="column is-4">
            <br />
            {{ trabajador.datos_personales.nombres }}
            {{ trabajador.datos_personales.apellidos }} <br />
            {{ trabajador.contratacion.cargo.nombre }}
          </div>
          <div class="column">
            <br />
            <button
              class="button"
              style="background-color: transparent; border: none; color: var(--accent-blue)"
              (click)="agregarEmpleado(trabajador.datos_personales.nombres, trabajador.datos_personales.apellidos)"
            >
              <span class="icon">
                <i class="fas fa-plus-circle"></i>
              </span>
            </button>
          </div>
        </div>
      </span>
      <hr />
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of data.team; index as i">
            <td>{{ empleado }}</td>
            <td>
              <i
                class="fas fa-trash-alt"
                style="cursor: pointer; color: var(--status-danger)"
                (click)="data.team.splice(i, 1)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <button class="button is-success" (click)="GuardarData()">
        <span class="icon"></span>
        <span>Guardar</span>
      </button>
    </div>
  </div>
</div>
