.title_{
    background: #d5234d;
    background: linear-gradient(90deg, rgba(213,35,77,1) 0%, rgba(255,145,170,1) 100%);
    overflow: hidden;
}

.detail{
    overflow: hidden;
}

.iconos{
    position: absolute;
    right: 45px;
    top : -15px;
}

.iconos i {
    font-size: 130px;
    transform: rotate(30deg);
    top: -150px;
    color: rgba(255, 255, 255, 0.50);
}
.lista{
    display: block;
    width: 100%;
    height: 45%;
    overflow: scroll;
    overflow-x: hidden;
}

.footer_ a {
    transition: color 0.3s, transform 0.3s;
  }
  
  .footer_ a:hover {
    color: rgb(224, 224, 224);
    transform: scale(1.5);
    animation: swing 0.5s ease-in-out infinite alternate;
  }
  
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .grupo {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
  }
  
  .grupo::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d5234d;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
  }
  
  .grupo:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .grupo:hover::before {
    transform: scaleX(1);
  }

  .footer_{
    background-color: #3d8fd1;
    color:white;
  }

  .footer_ a{
    color: white;
  }

  .isSelected {
    // border: 2px solid rgb(255, 255, 255);
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }

  .Departamentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Cambia justify-content a flex-start */
}

.dep {
    width: calc(25% - 5px); /* El 10px es para el espacio entre las tarjetas */
    margin-bottom: 25px;
    margin-right: 5px;
}

/* Añade un estilo para las tarjetas en la última fila */
.dep:nth-last-child(-n+4) {
    width: calc(25% - 5px); /* Ajusta el ancho para las tarjetas en la última fila */
}