<app-nueva-gestion
  [nuevo]="nueva"
  [cargo]="cargo"
  [cargos]="Cargos"
  (onCloseModarl)="nueva = false; cargo = { nombre: '', funcion: '' }"
>
</app-nueva-gestion>

<app-info-gestion [info]="info" [cargo]="cargo" (onCloseModal)="info = false; cargo = { nombre: '', funcion: '' }">
</app-info-gestion>
<app-page-layout>
  <app-section-header
    title="Cargos"
    description="Gestión de cargos y puestos"
    icon="fa-users"
    color="teal"
  ></app-section-header>
  <br />
  <button class="button is-info" (click)="nueva = true">
    <span class="icon"><i class="fas fa-plus-circle"></i></span>
    <span>Cargo</span></button
  >  <br />
  <br />

  <div class="Departamentos">
    <div class="card dep" *ngFor="let cargos of api.cargos">
      <div class="card-header">
        <div class="card-header-title">
          <div class="subtitle">
            <div class="brillo"></div>
            {{ cargos.nombre }}
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item"><i class="fas fa-info-circle blue_" (click)="showInfo(cargos)"></i></a>
        <a class="card-footer-item"><i class="far fa-edit green" (click)="editar(cargos)"></i></a>
        <a class="card-footer-item"><i class="fas fa-trash-alt red" (click)="EliminarCargo(cargos)"></i></a>
      </footer>
    </div>
  </div>
</app-page-layout>
