.tarjetas_menu {
  cursor: pointer;
  text-align: center;
  font-family: 'Gilroy';
  color: white;
  font-size: x-large;
}


.Departamentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Cambia justify-content a flex-start */
}

.dep {
  width: calc(20% - 5px); /* El 10px es para el espacio entre las tarjetas */
  margin-bottom: 20px;
  margin-right: 5px;
}

/* Añade un estilo para las tarjetas en la última fila */
.dep:nth-last-child(-n + 5) {
  width: calc(20% - 5px); /* Ajusta el ancho para las tarjetas en la última fila */
}
