<app-nueva-gestion
  [nuevo]="nueva"
  [cargo]="cargo"
  [cargos]="Cargos"
  (onCloseModarl)="nueva = false; cargo = { nombre: '', funcion: '' }"
>
</app-nueva-gestion>

<app-info-gestion [info]="info" [cargo]="cargo" (onCloseModal)="info = false; cargo = { nombre: '', funcion: '' }">
</app-info-gestion>
<app-page-layout>
  <app-section-header
    title="Cargos"
    description="Gestión de cargos y puestos"
    icon="fa-users"
    color="teal"
  ></app-section-header>
  <br />
  <button class="button is-info" (click)="nueva = true">
    <span class="icon"><i class="fas fa-plus-circle"></i></span>
    <span>Cargo</span></button
  >  <br />
  <br />

  <div class="cargos-list">
    <div class="cargo-item" *ngFor="let cargo of cargosOrdenados">
      <span class="cargo-name">{{ cargo.nombre }}</span>
      <span class="tag is-light">{{ cargo.funcion }}</span>
      <span class="cargo-actions">
        <i class="fas fa-info-circle blue_" (click)="showInfo(cargo)" title="Ver info"></i>
        <i class="far fa-edit green" (click)="editar(cargo)" title="Editar"></i>
        <i class="fas fa-trash-alt red" (click)="EliminarCargo(cargo)" title="Eliminar"></i>
      </span>
    </div>
  </div>
</app-page-layout>
