<app-new-convertidora [nueva]="convertidora" (onCloseModal)="convertidora = false"> </app-new-convertidora>

<app-new-bobina [nueva]="bobina" (onCloseModal)="bobina = false"> </app-new-bobina>

<app-page-layout>
  <app-section-header
    title="Bobinas"
    description="Gestión de bobinas y convertidoras"
    icon="fa-warehouse"
    color="orange"
  ></app-section-header>
  <br />

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-info" (click)="convertidora = true">
        <span class="icon"><i class="fas fa-plus-circle"></i></span>
        <span>Convertidora</span>
      </button>
    </div>
    <div class="control">
      <button class="button is-info" (click)="bobina = true">
        <span class="icon"><i class="fas fa-plus-circle"></i></span>
        <span>Conversión</span>
      </button>
    </div>
  </div>

  <br />

  <div class="columns">
    <div class="column">
      <div class="card h-310">
        <div class="card-content">
          <span class="title"> Conversiones </span>
          <hr />
          <table class="table is-fullwidth is-striped fixed-header-table">
            <thead>
              <tr>
                <th>Estado</th>
                <th>Lote</th>
                <th>Material</th>
                <th>Cantidad (und)</th>
                <th>Peso (t)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bobina of api.conversiones; index as i">
                <td>
                  <span class="tag is-success">{{ bobina.status }}</span>
                </td>
                <td>{{ bobina.lote }}</td>
                <td>
                  {{ bobina.material.nombre }} ({{ bobina.ancho }}x{{ bobina.largo }}) {{ bobina.material.gramaje }}g/m²
                  - {{ bobina.material.calibre }}pt
                </td>
                <td>{{ bobina.cantidad | number: '2.2-2' }}</td>
                <td>{{ bobina.peso | number: '2.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card stat-card">
        <div class="card-content">
          <div class="columns is-vcentered">
            <div class="column is-2">
              <span class="stat-number">1</span>
            </div>
            <div class="column is-2">
              <div class="stat-label">Análisis</div>
              <div class="stat-label" style="font-weight: 700">Mes</div>
            </div>
            <div class="column">
              <span class="stat-detail">Mayo</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card stat-card">
        <div class="card-content">
          <div class="columns is-vcentered">
            <div class="column is-2">
              <span class="stat-number">1</span>
            </div>
            <div class="column is-2">
              <div class="stat-label">Análisis</div>
              <div class="stat-label" style="font-weight: 700">Año</div>
            </div>
            <div class="column">
              <span class="stat-detail">2025</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card stat-card">
        <div class="card-content">
          <div class="columns is-vcentered">
            <div class="column is-2">
              <span class="stat-number">2</span>
            </div>
            <div class="column is-2">
              <div class="stat-label">Dia(s)</div>
            </div>
            <div class="column">
              <span class="stat-label">Rendimiento</span><br />
              <span class="stat-label">de conversión</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <ng-container *ngFor="let convertidora of api.convertidora; index as i">
    <div class="card animate__animated animate__fadeInUp">
      <div class="card-header dark">
        <p class="card-header-title">
          {{ convertidora.nombre }}
        </p>
        <button
          class="card-header-icon"
          aria-label="more options"
          [ngClass]="{ clicked: clicked[i] }"
          (click)="showInfo(i)"
        >
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="card-content info" [ngClass]="{ hidden: !clicked[i], show: clicked[i] }">
        <div class="table-wrapper">
          <table class="table is-fullwidth is-striped fixed-header-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Lote</th>
                <th>Peso (t)</th>
                <th>Ancho</th>
                <th>Material</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bobina of api.bobinaPorConvertidora(convertidora._id); index as i">
                <td>{{ bobina.codigo }}</td>
                <td>{{ bobina.lote }}</td>
                <td>{{ bobina.neto }}</td>
                <td>{{ bobina.ancho }}</td>
                <td>{{ bobina.material.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br /><br />
  </ng-container>

  <div class="card">
    <div class="card-content">
      <span class="title">Estadísticas</span>
      <div class="columns">
        <div class="column" *ngFor="let convertidora of api.convertidora; index as i">
          <div class="card">
            <div class="card-content">
              <div class="subtitles">
                {{ convertidora.nombre }}
              </div>
              <table class="table is-fullwidth is-striped">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Convertidas (und)</th>
                    <th>Peso convertido (t)</th>
                    <th>% rendimiento</th>
                    <th>Conversiones</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page-layout>
