<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <div class="icon-container">
                <i class="fas fa-gem"></i>
                <i class="fas fa-puzzle-piece"></i>
                <i class="fas fa-paint-roller"></i>
                <i class="fas fa-ship"></i>
                <i class="fas fa-train"></i>
                <i class="fas fa-space-shuttle"></i>
                <i class="fas fa-bus"></i>
                <i class="fas fa-motorcycle"></i>
                <i class="fas fa-truck"></i>
                <i class="fas fa-rocket"></i>
                <i class="fas fa-heartbeat"></i>
                <i class="fas fa-brain"></i>
                <i class="fas fa-leaf"></i>
                <i class="fas fa-paw"></i>
                <i class="fas fa-bug"></i>
                <i class="fas fa-frog"></i>
                <i class="fas fa-horse"></i>
                <i class="fas fa-dove"></i>
                <i class="fas fa-fish"></i>
                <i class="fas fa-kiwi-bird"></i>
                <i class="fas fa-ghost"></i>
                <i class="fas fa-bone"></i>
                <i class="fas fa-crow"></i>
                <i class="fas fa-dragon"></i>
                <i class="fas fa-spider"></i>
                <i class="fas fa-tree"></i>
                <i class="fas fa-mountain"></i>
                <i class="fas fa-cloud-sun"></i>
                <i class="fas fa-rainbow"></i>
                <i class="fas fa-snowflake"></i>
                <i class="fas fa-fire"></i>
                <i class="fas fa-umbrella"></i>
                <i class="fas fa-campground"></i>
                <i class="fas fa-binoculars"></i>
                <i class="fas fa-compass"></i>
                <i class="fas fa-map-marked-alt"></i>
                <i class="fas fa-globe-americas"></i>
                <i class="fas fa-cocktail"></i>
                <i class="fas fa-coffee"></i>
                <i class="fas fa-beer"></i>
                <i class="fas fa-wine-glass"></i>
                <i class="fas fa-mug-hot"></i>
                <i class="fas fa-utensils"></i>
                <i class="fas fa-pizza-slice"></i>
                <i class="fas fa-hamburger"></i>
                <i class="fas fa-ice-cream"></i>
                <i class="fas fa-birthday-cake"></i>
                <i class="fas fa-candy-cane"></i>
                <i class="fas fa-cookie-bite"></i>
                <i class="fas fa-bread-slice"></i>
                <i class="fas fa-bacon"></i>
                <i class="fas fa-pepper-hot"></i>
                <i class="fas fa-carrot"></i>
                <i class="fas fa-apple-alt"></i>
                <i class="fas fa-lemon"></i>
                <i class="fas fa-palette"></i>
                <i class="fas fa-atom"></i>
                <i class="fas fa-bahai"></i>
                <i class="fas fa-biohazard"></i>
                <i class="fas fa-burn"></i>
                <i class="fas fa-cat"></i>
                <i class="fas fa-dice"></i>
                <i class="fas fa-dna"></i>
                <i class="fas fa-feather-alt"></i>
                <i class="fas fa-fire-alt"></i>
                <i class="fas fa-flask"></i>
                <i class="fas fa-hat-wizard"></i>
                <i class="fas fa-mask"></i>
                <i class="fas fa-meteor"></i>
                <i class="fas fa-robot"></i>
                <i class="fas fa-skull"></i>
                <i class="fas fa-theater-masks"></i>
                <i class="fas fa-toilet-paper"></i>
                <i class="fas fa-unicorn"></i>
                <i class="fas fa-virus"></i>
                <i class="fas fa-search"></i>
                <i class="fas fa-flag"></i>
                <i class="fas fa-thumbs-up"></i>
                <i class="fas fa-thumbs-down"></i>
                <i class="fas fa-trophy"></i>
                <i class="fas fa-certificate"></i>
                <i class="fas fa-lightbulb"></i>
                <i class="fas fa-university"></i>
                <i class="fas fa-map-marker"></i>
                <i class="fas fa-link"></i>
                <i class="fas fa-trash"></i>
                <i class="fas fa-rss"></i>
                <i class="fas fa-money-bill"></i>
                <i class="fas fa-arrow-up"></i>
                <i class="fas fa-arrow-down"></i>
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-right"></i>
                <i class="fas fa-globe"></i>
                <i class="fas fa-cloud"></i>
                <i class="fas fa-eye"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-smile"></i>
                <i class="fas fa-frown"></i>
                <i class="fas fa-meh"></i>
                <i class="fas fa-cog"></i>
                <i class="fas fa-print"></i>
                <i class="fas fa-save"></i>
                <i class="fas fa-envelope"></i>
                <i class="fas fa-lock"></i>
                <i class="fas fa-calendar"></i>
                <i class="fas fa-clock"></i>
                <i class="fas fa-battery-full"></i>
                <i class="fas fa-cloud-sun"></i>
                <i class="fas fa-snowflake"></i>
                <i class="fas fa-umbrella"></i>
            </div>
        </div>
    </div>
</div>
<app-nuevo-fabricante [nuevo]="nuevo" [editar]="editar" [data]="data" [cargando]="cargando" (onCloseModal)="cerrar()"
    (onCloseModal_)="cerrar__()">
</app-nuevo-fabricante>
<app-detalles [detalle]="detalle" [fabricante]="selected" (onClickClose)="detalle = false">
</app-detalles>

<div class="container_ mt-5">
    <div class="card">
        <div class="card-content darker">
            <div class="card mt-5 title_">
                <!-- <span class="red-bar"></span> -->
                <div class="card-content">
                    <h1 class="title blancas">
                        Fabricantes
                    </h1>
                    <h2 class="subtitle description blancas">
                        Descripción
                    </h2>
                </div>
            </div>
            <br>

            <ng-container *ngIf="filas() === 0">
                <div class="columns">
                    <div class="column">
                        <div class="card animate__animated animate__fadeInUp">
                            <div class="card-content blue" (click)="nuevo = true">
                                <span class="agregar">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column"></div>
                    <div class="column"></div>
                    <div class="column"></div>
                    <div class="column"></div>
                </div>

            </ng-container>
            <ng-container *ngFor="let fila of [].constructor(filas());index as fila_i">
                <div class="columns">
                    <div class="column" *ngFor="let tarjeta of [].constructor(5);index as i">
                        <ng-container *ngIf="(5*fila_i)+i == 0">
                            <div class="card animate__animated animate__fadeInUp">
                                <div class="card-content blue" (click)="nuevo = true">
                                    <span class="agregar">
                                        <i class="fas fa-plus-circle"></i>
                                    </span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="api.fabricantes[(5*fila_i)+i-1]">
                            <div class="card animate__animated animate__fadeInUp">
                                <div class="card-header">
                                    <div class="card-header-title titulos is-centered">
                                        <p class="subtitle">
                                            {{api.fabricantes[(5*fila_i)+i-1].nombre}}
                                            ({{api.fabricantes[(5*fila_i)+i-1].alias}})
                                        </p>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item"><i class="fas fa-info-circle blue_"
                                            (click)="seleccion((5*fila_i)+i-1)"></i></a>
                                    <a class="card-footer-item"><i class="far fa-edit green"
                                            (click)="Editar((5*fila_i)+i-1)"></i></a>
                                    <a class="card-footer-item"><i class="fas fa-trash-alt red"
                                            (click)="borrarFabricante(api.fabricantes[(5*fila_i)+i-1]._id)"></i></a>
                                </footer>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>