<app-page-layout>
  <app-section-header
    title="Laboratorio"
    description="Panel de control de laboratorio"
    icon="fa-flask"
    color="red"
  ></app-section-header>
  <br />
  <div class="columns">
    <div class="column">
      <div
        class="card especificacion tarjetas_menu animate__animated animate__fadeInUp"
        routerLink="/laboratorio/especificacion"
      >
        <div class="card-content">Especificación</div>
      </div>
    </div>
    <div class="column">
      <div class="card analisis-pendientes tarjetas_menu animate__animated animate__fadeInUp" routerLink="/laboratorio/analisis-pendientes">
        <div class="card-content">Análisis Pendientes</div>
      </div>
    </div>
  </div>
</app-page-layout>
