.blink-slow {
  animation: blinkAnimation 2.5s steps(2, start) infinite;
}

@keyframes blinkAnimation {
  to {
    visibility: hidden;
  }
}

.detail {
  overflow: hidden;
}

.buscar {
  display: none; /* Ocultar la sección de búsqueda por defecto */
  opacity: 0; /* Inicialmente transparente */
  transition: opacity 1s ease; /* Agregar una transición suave de opacidad */
}

.mostrar {
  display: block; /* Mostrar la sección de búsqueda */
  opacity: 1; /* Hacerla visible */
}

.card_ {
  display: inline-block;
  padding: 50px;
  border-radius: 10px;
  background-color: #d1f5d3; /* Color verde claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-size: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  width: 100%;
}

.card__ {
  display: inline-block;
  padding: 50px;
  border-radius: 10px;
  background-color: #f5e1d1; /* Color verde claro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-size: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  width: 100%;
}

.fa-spinner {
  margin-right: 10px;
}

@keyframes dots {
  0%,
  20% {
    content: ' ';
  }
  40% {
    content: '. ';
  }
  60% {
    content: '.. ';
  }
  80% {
    content: '... ';
  }
}

.cargando::after {
  content: '. ';
  animation: dots 1.5s infinite steps(4);
}

.etiqueta {
  position: relative;
  display: inline-block;
}

.etiqueta::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s;
}

.etiqueta:hover::after {
  opacity: 1;
}

.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #3498db; /* Blue color */
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.wave {
  font-size: 15px;
  font-weight: bold;
  color: white;
  position: relative;
  animation: wave-animation 2s infinite;
}

.wave::after {
  content: '. ';
  animation: dots 1.5s infinite steps(4);
}

@keyframes wave-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-1px);
  }
}

//   .mt-5{
//     // margin-top: 3px;
//   }

.number_ {
  position: absolute;
  font-size: 35px;
  font-family: 'Gilroy';
  margin-top: 10px;
}

.fina {
  position: absolute;
  font-size: 10px;
  margin-top: 15px;
}
.gruesa {
  font-size: 20px;
  font-family: 'Gilroy';
}

.Detalle {
  border-left: solid 1px white;
  font-size: 35px;
  padding-left: 15px;
}

.low {
  border-left: solid 1px white;
  font-size: 20px;
  padding-left: 15px;
}
.lowl {
  position: relative;
  border-left: solid 1px white;
  font-size: 20px;
  padding-left: 15px;
  display: block;
  top: -7px;
}

.card .card-content .orange {
  background: rgb(245, 152, 28);
  background: linear-gradient(90deg, rgba(245, 152, 28, 1) 25%, rgba(255, 184, 88, 1) 100%);
  color: white;
  width: 100%;
}

.card .card-content .green__ {
  background: rgb(8, 172, 38);
  background: linear-gradient(90deg, rgba(8, 172, 38, 1) 15%, rgba(44, 255, 82, 1) 100%);
  color: white;
  width: 100%;
}

.card .special {
  height: 100px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.liquid {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #3498db 50%, transparent 50%);
  animation: liquidFill 4s linear;
}

@keyframes liquidFill {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.card-content {
  padding: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  animation:
    spin 1s linear infinite,
    shadow 1s alternate infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
  }
  100% {
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.7);
  }
}

@keyframes elevacion {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave_ .p {
  display: inline-block;
  font-size: 24px;
}

.wave_ .p span {
  display: inline-block;
  animation: elevacion 0.6s linear infinite;
}

.wave_ .p span:nth-child(1) {
  animation-delay: 0.1s;
}
.wave_ .p span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave_ .p span:nth-child(3) {
  animation-delay: 0.3s;
}
.wave_ .p span:nth-child(4) {
  animation-delay: 0.4s;
}
.wave_ .p span:nth-child(5) {
  animation-delay: 0.5s;
}
.wave_ .p span:nth-child(6) {
  animation-delay: 0.6s;
}
.wave_ .p span:nth-child(7) {
  animation-delay: 0.7s;
}
.wave_ .p span:nth-child(8) {
  animation-delay: 0.8s;
}
.wave_ .p span:nth-child(9) {
  animation-delay: 0.9s;
}
.wave_ .p span:nth-child(10) {
  animation-delay: 0.1s;
}
.wave_ .p span:nth-child(11) {
  animation-delay: 0.11s;
}
.wave_ .p span:nth-child(12) {
  animation-delay: 0.12s;
}
.wave_ .p span:nth-child(13) {
  animation-delay: 0.13s;
}
.wave_ .p span:nth-child(14) {
  animation-delay: 0.14s;
}
.wave_ .p span:nth-child(15) {
  animation-delay: 0.15s;
}
.wave_ .p span:nth-child(16) {
  animation-delay: 0.16s;
}
.wave_ .p span:nth-child(17) {
  animation-delay: 0.17s;
}
.wave_ .p span:nth-child(18) {
  animation-delay: 0.18s;
}
.wave_ .p span:nth-child(19) {
  animation-delay: 0.19s;
}
.wave_ .p span:nth-child(20) {
  animation-delay: 0.2s;
}
.wave_ .p span:nth-child(21) {
  animation-delay: 0.21s;
}

.card .card-content .ty {
  overflow: hidden;
}

.tags {
  overflow: hidden;
}

.blue___ {
  background: rgb(0, 56, 255);
  background: linear-gradient(90deg, rgba(0, 56, 255, 1) 0%, rgba(117, 180, 255, 1) 100%);
  color: white;
  height: 100px;
  overflow: hidden;
  width: 100%;
}

.blue___ .info_ {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.position_ {
  position: absolute;
  margin-bottom: -30px;
}

.position__ {
  position: absolute;
  margin-bottom: 20px;
}

.waves {
  position: relative;
  width: 500px;
  height: 50px;
  margin-bottom: -65px;
  margin-left: -20px;
  min-height: 50px;
  max-height: 100px;
}

.waves.no-animation .moving-waves > use {
  animation: none;
}

.wave-rotate {
  transform: rotate(180deg);
}

.moving-waves > use {
  animation: f 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.moving-waves > use:first-child {
  animation-delay: -2s;
  animation-duration: 11s;
}

.moving-waves > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.moving-waves > use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 15s;
}

.moving-waves > use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 20s;
}

.moving-waves > use:nth-child(5) {
  animation-delay: -4s;
  animation-duration: 25s;
}

.moving-waves > use:nth-child(6) {
  animation-delay: -3s;
  animation-duration: 30s;
}

@keyframes f {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  to {
    transform: translate3d(85px, 0, 0);
  }
}

.h-310 {
  height: 335px;
  overflow-y: scroll;
}

.dark {
  background-color: #3c3f41;
}

.label {
  color: white;
}

.resultados {
  position: relative;
  margin-left: 15px;
  margin-top: 30px;
  background-color: red;
}

// .text-container {
//     font-size: 24px;
//     text-align: center;
//     width: 100%;
//     height: 100px;
//     line-height: 100px;
//     overflow: hidden;
//     white-space: nowrap;
//   }

.text-container span {
  display: inline-block;
  animation: changeText 1s infinite;
}

@keyframes changeText {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.resultado {
  position: relative;
  top: 15%;
  left: 15%;
}

.button____ {
  display: block;
  position: relative;
  top: 10px;
}

.left {
  margin-left: 50%;
}

a {
  color: #ffc3c3;
  text-decoration: underline dotted;
}

.subtitles {
  display: block;
  width: 100%;
  background-color: #3c3f41;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-family: 'Gilroy';
  font-size: large;
  padding-left: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 245, 152);
  color: #333;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  font-size: x-small;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.message {
  text-align: center;
}

.message-heading {
  font-size: 15px;
  color: #000000; /* Color de texto suave */
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  background-color: #8bffa6; /* Color de fondo pastel */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.tag {
  width: 80px;
}
