.tarjetas_menu {
  cursor: pointer;
  text-align: center;
  font-family: 'Gilroy';
  color: white;
  font-size: x-large;
}


.Departamentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Cambia justify-content a flex-start */
}

.dep {
  width: calc(33.33% - 5px); /* El 10px es para el espacio entre las tarjetas */
  margin-bottom: 20px;
  margin-right: 5px;
}

/* Añade un estilo para las tarjetas en la última fila */
.dep:nth-last-child(-n + 3) {
  width: calc(33.33% - 5px); /* Ajusta el ancho para las tarjetas en la última fila */
}

.cargo {
  width: calc(25% - 5px); /* El 10px es para el espacio entre las tarjetas */
  margin-bottom: 20px;
  margin-right: 5px;
}

/* Añade un estilo para las tarjetas en la última fila */
.cargo:nth-last-child(-n + 3) {
  width: calc(25% - 5px); /* Ajusta el ancho para las tarjetas en la última fila */
}

.color {
  display: block;
  width: 10px;
  height: 10px;
  border: 50px;
}

.test {
  color: var(--text-muted);
  color: #737373;
  color: #7b352b;
  color: #9d1c14;
  color: #f24b27;
  color: #707070;
  color: #c15651;
  color: #f58034;
  color: #eef871;
  color: #e1e1e1;
}

.brillo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
