<app-nuevo-departamento [nuevo]="Nuevo" [unidades]="Departamentos" [unidad]="unidad" (onCloseModal)="Nuevo = false">
</app-nuevo-departamento>
<app-nuevo-cargo
  [cargo]="cargo"
  [departamentos]="Departamentos"
  [Departamento]="DepartamentoAbierto"
  [Cargos]="Cargos"
  [cargo_]="cargo_"
  (onCloseModal)="cargo = false; area = true"
  (Update)="update($event)"
>
</app-nuevo-cargo>
<app-areas
  [Areas]="area"
  [Areas_creadas]="publicAreas"
  (onCloseModal)="area = false"
  (onNuevaSubUnidad)="area = false; cargo = true"
  (onEditarSubUnidad)="EditarSubUnidad($event)"
  (onEditarSubSubUnidad)="EditarSubSubUnidad($event)"
  (Update)="update($event)"
>
</app-areas>
<app-page-layout>
  <app-section-header
    title="Departamentos"
    description="Estructura organizacional"
    icon="fa-users"
    color="teal"
  ></app-section-header>
  <br />
  <button class="button is-info" (click)="Nuevo = true">
    <span class="icon"><i class="fas fa-plus-circle"></i></span>
    <span>Unidad</span></button
  >  <br />
  <br />

  <div class="departamentos-list">
    <div class="dep-item" *ngFor="let dep of api.departamentos">
      <span class="dep-indicator" [style.background-color]="dep.color"></span>
      <span class="dep-name">{{ dep.nombre }}</span>
      <span class="tag is-light">{{ filtrarDepartamento(dep.nombre).length }} áreas</span>
      <span class="dep-actions">
        <i class="fas fa-info-circle blue_" (click)="showAreas(dep)" title="Ver áreas"></i>
        <i class="far fa-edit green" (click)="unidad = dep; Nuevo = true" title="Editar"></i>
        <i class="fas fa-trash-alt red" (click)="eliminarDepartamento(dep)" title="Eliminar"></i>
      </span>
    </div>
  </div>

</app-page-layout>
