.green {
  color: #48c78e;
}
.red {
  color: #f03a5f;
}
.icon {
  font-size: 20px;
}

.icono {
  background-color: rgb(38, 52, 61);
  padding: 5px;
  color: white;
  border-radius: 3px;
}

.indicator {
  color: rgb(166, 194, 166);
}

.card .card-header {
  height: 50px;
}
