:host {
  display: block;
  margin-bottom: 12px;
}

.breadcrumb {
  font-size: 13px;
  background-color: transparent;
}

.breadcrumb ul {
  align-items: center;
}

.breadcrumb a {
  color: var(--text-muted);
}

.breadcrumb a:hover {
  color: var(--accent-red);
}

.breadcrumb li.is-active span {
  color: var(--text-primary);
  font-weight: 600;
}

.breadcrumb li+li::before {
  color: var(--text-muted);
}